apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-portal
spec:
  replicas: 2
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
      - name: result
        image: result-portal
        ports:
        - containerPort: 3000
